#koithread3 {
  margin: 50px auto 0px;
  width: 350px;
  padding: 150px;
  padding-top: 50px;
  background: #fff;
  border: solid 1px rgba(var(--ac1), 1);
  text-align: justify;
  color: #000;
  font-family: poppins, sans-serif;
  font-weight: 300;
  letter-spacing: 0.25px;
  font-size: 12px;
  line-height: 170%;
}

#koithread3 b {
  font-weight: 600;
  color: #5d7791;
}

#koithread3 p {
  margin-top: 40px;
}


#koithread3 vline {
  width: 1px;
  height: 150px;
  background: var(--accent);
  display: block;
  position: relative;
  top: -50px;
  margin: auto;
}

#koithread3 .koi3gif {
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  z-index: 99;
}

#koithread3 .gifcolor {
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: double 1px transparent;
  border-radius: 100%;
  background-image: linear-gradient(#fff, #fff), radial-gradient(circle at top left, var(--accent), #8fadcc);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
  margin: auto;
  top: -50px;
  z-index: 99;
}

.koi3credit,
.koi3credit a {
  margin: 0px auto 50px;
  width: 650px;
  text-align: right;
  padding-top: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}

.koi3credit img {
  width: 30px;
}

#koithread3 .notes,
#koithread3 .notes a {
  padding: 0px 0px 0px 0px;
  font-family: attribute-mono, sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  text-align: left;
}

#koithread3 .notes::before {
  content: '';
  flex: 1;
  border-bottom: 1px solid rgba(var(--ac1), 0.9);
}

#koithread3 .notes::before {
  margin-right: 5px;
}
