@import url("https://use.typekit.net/nza8woh.css");
@import url("https://use.typekit.net/ydw5zsv.css");

body { 
	font-family: poppins, sans-serif; 
	font-size: 11px; 
	color: #222; margin:0px;
	padding:0px; 
    background-color:#111; 
	text-align:center;
}

/* SKIN ACCENT COLOR */
body {

--ac: #eb9382;
--ac1: 235, 147, 130;

}

/* MEMBER ACCENT COLOR */
#g-3, .g-3 { 
  --accent: #b6b6b6; 
  --ac1: 182,182,182;  
}

/* ADMIN ACCENT COLOR */
#g-4, .g-4 { 
  --accent: #eb9382; 
  --ac1: 235, 147, 130; 
}

/* MOD ACCENT COLOR */
#g-6, .g-6 { 
  --accent: #eb9382; 
  --ac1: 235, 147, 130;  
}


/* ARTIFICER COLOR */
#g-7, .g-7 {
  --accent: #D766A3; 
  --ac1: 215,102,163; 
}
#artificer, .artificer {
  --fc: #D766A3; 
  --fc1: 215,102,163; 
}


/* ASSASSIN COLOR */
#g-20, .g-20 {
  --accent: #616378; 
  --ac1: 97,99,120; 
}
#assassin, .assassin {
  --fc: #616378; 
  --fc1: 97,99,120; 
}


/* BARBARIAN COLOR */
#g-8, .g-8 {
  --accent: #BB273C; 
  --ac1: 187,39,60;
}
#barbarian, .barbarian {
  --fc: #BB273C; 
  --fc1: 187,39,60;
}


/* BARD COLOR */
#g-9, .g-9 {
  --accent: #2D80CE; 
  --ac1: 45,128,206; 
}
#bard, .bard {
  --fc: #2D80CE; 
  --fc1: 45,128,206; 
}


/* CLERIC COLOR */
#g-10, .g-10 {
  --accent: #ED929F; 
  --ac1: 237,146,159; 
}
#cleric, .cleric {
  --fc: #ED929F; 
  --fc1: 237,146,159; 
}


/* DRUID COLOR */
#g-11, .g-11 {
  --accent: #4DB681; 
  --ac1: 77,182,129; 
}
#druid, .druid {
  --fc: #4DB681; 
  --fc1: 77,182,129; 
}


/* FIGHTER COLOR */
#g-12, .g-12 {
  --accent: #E64949; 
  --ac1: 230,73,73; 
}
#fighter, .fighter {
  --fc: #E64949; 
  --fc1: 230,73,73; 
}


/* MONK COLOR */
#g-13, .g-13 {
  --accent: #FA7842; 
  --ac1: 250,120,66; 
}
#monk, .monk {
  --fc: #FA7842; 
  --fc1: 250,120,66; 
}



/* PALADIN COLOR */
#g-14, .g-14 {
  --accent: #FAB440; 
  --ac1: 250,180,64; 
}
#paladin, .paladin {
  --fc: #FAB440; 
  --fc1: 250,180,64; 
}


/* RANGER COLOR */
#g-15, .g-15 {
  --accent: #83B65E; 
  --ac1: 131,182,94; 
}
#ranger, .ranger {
  --fc: #83B65E; 
  --fc1: 131,182,94; 
}


/* ROGUE COLOR */
#g-16, .g-16 {
  --accent: #5D4BC2; 
  --ac1: 93,75,194; 
}
#rogue, .rogue {
  --fc: #5D4BC2; 
  --fc1: 93,75,194; 
}


/* SORCERER COLOR */
#g-17, .g-17 {
  --accent: #4AB7B8; 
  --ac1: 74,183,184;
}
#sorcerer, .sorcerer {
  --fc: #4AB7B8; 
  --fc1: 74,183,184;
}


/* WARLOCK COLOR */
#g-18, .g-18 {
  --accent: #8759B6; 
  --ac1: 135,89,182;
}
#warlock, .warlock {
  --fc: #8759B6; 
  --fc1: 135,89,182;
}


/* WIZARD COLOR */
#g-19, .g-19 {
  --accent: #B068C5; 
  --ac1: 176,104,197; 
}
#wizard, .wizard {
  --fc: #B068C5; 
  --fc1: 176,104,197; 
}

#embase {
	margin: auto;
	justify-content: center;
	align-items: center;
}

#embase {
 --Nimbus: eurostile-extended, sans-serif;
  --IvyPresto: IvyPresto-Headline, Palatino, serif;
  --Helvetica: Helvetica, sans-serif;
  --Prestige: prestige-elite-std, monospace;
  --artificer: #D766A3;
  --assassin: #616378;
  --barbarian: #BB273C;
  --bard: #2D80CE;
  --cleric: #ED929F;
  --druid: #4DB681;
  --fighter: #E64949;
  --monk: #FA7842;
  --paladin: #FAB440;
  --ranger: #83B65E;
  --rogue: #5D4BC2;
  --sorcerer: #4AB7B8;
  --warlock: #8759B6;
  --wizard: #B068C5;
}

#embase artificer { color: #D766A3; }

#embase assassin {color: #616378; }

#embase barbarian {color: #BB273C; }

#embase bard {color: #2D80CE;}

#embase cleric {color: #ED929F;}

#embase druid {color: #4DB681;}

#embase fighter {color: #E64949;}

#embase monk {color: #FA7842; }

#embase paladin {color: #FAB440;}

#embase ranger {color: #83B65E;}

#embase rogue {color: #5D4BC2;}

#embase sorcerer {color: #4AB7B8;}

#embase warlock {color: #8759B6;}

#embase wizard {color: #B068C5;}

#embase h1 {
	font-family: var(--Nimbus);
    	font-weight: 900;
    	font-size: 1.5em;
    	text-transform: uppercase;
    	letter-spacing: .1em;
}


#embase ss1 {
	font-family: var(--IvyPresto);
    	font-weight: 400;
    	font-size: .8em;
    	text-transform: lowercase;
    	letter-spacing: .2em;
      font-style: italic;
}


#em-tracker {
  display: block;
  text-decoration: none;
  margin: 50px auto 0px;
  width: 400px;
  padding: 50px 100px;
  background: #fff;
  border: solid 1px rgba(var(--ac1), 1);
  text-align: justify;
  color: #333;
  font-family: poppins, sans-serif;
  font-weight: 300;
  letter-spacing: 0.25px;
}

#em-tracker p {
  margin: 0px auto 25px;
  line-height: 180%;
}

#em-tracker a {
  font-family: var(--Nimbus);
  font-size: 1em;
  font-weight: bold;
  color: var(--white);
  text-transform: uppercase;
  line-height: 100%;
  color: var(--accent);
  text-decoration: none;
}

#em-tracker .done {
  margin: 0px;
  padding: 0px;
}

#em-tracker .done::after {
  color: var(--accent);
  content: '✓';
  font-size: 13px;
  position: relative;
  top: -5px;
  margin-left: 3px;
}

#em-tracker .DONE {
  margin: 0px;
  padding: 0px;
}

#em-tracker .DONE::after {
  color: var(--accent);
  content: '✓';
  font-size: 13px;
  position: relative;
  top: -5px;
  margin-left: 3px;
}

#em-tracker .OWE {
  margin: 0px;
  padding: 0px;
}

#em-tracker .OWE::after {
  color: var(--accent);
  content: '↩︎';
  font-size: 13px;
  position: relative;
  top: -3px;
  margin-left: 3px;
}

#em-tracker .owe {
  margin: 0px;
  padding: 0px;
}

#em-tracker .owe::after {
  color: var(--accent);
  content: '↩︎';
  font-size: 13px;
  position: relative;
  top: -3px;
  margin-left: 3px;
}


#em-tracker partner {
  font-family: var(--IvyPresto);
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
}

#em-tracker partner::before {
  content: '→';
  font-size: 13px;
  color: var(--accent);
  margin-right: 10px;
  margin-left: 30px;
}

#em-tracker notes {
  display: block;
  font-family: var(--IvyPresto);
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  width: 350px;
  margin-right: 10px;
  margin-left: 53px;
}

#em-tracker notes::before {
  content: '•••';
  font-size: 8px;
  color: var(--accent);
  margin-right: 10px;
  margin-left: -21px;
}

#emcredit, #emcredit a {
  width: 600px;
  display: block;
  font-size: 10px;
  color:#999;
  margin: 5px auto;
  text-align: right;
  text-decoration: none;
}

