@import url("https://use.typekit.net/nza8woh.css");
@import url("https://use.typekit.net/ydw5zsv.css");

/* ASSASSIN COLOR */
body {
  --accent: #616378; 
  --ac1: 97,99,120; 
  --fc: #616378; 
  --fc1: 97,99,120; 
  --Nimbus: eurostile-extended, sans-serif;
  --IvyPresto: IvyPresto-Headline, Palatino, serif;
  --Helvetica: Helvetica, sans-serif;
  --Prestige: prestige-elite-std, monospace;
	
}

assassin {
  color: #616378; 
}

#blackbleed2 {
	background: #111; 
	width: calc(100% - 200px); 
	padding: 150px;
	margin: auto;
	position: relative; 
	margin-top: -30px; 
	margin-left: -30px; 
	color: #fff; 
	line-height: 200%; 
	letter-spacing: 1px;
	justify-content: center;
	align-items: center;
}

#blackbleed2 .bodytxt {
	width: 70%; 
	text-align: justify; 
	text-transform: lowercase; 
	margin: 50px auto 150px; 
}

#blackbleed2 .bodytxt p {
	margin-top: 30px;
}

#blackbleed2 big1 {
	font-family: var(--Nimbus);
    	font-weight: 900;
    	font-size: 1.5em;
    	text-transform: uppercase;
    	letter-spacing: .1em;
}


#blackbleed2 small1 {
	font-family: var(--IvyPresto);
    	font-weight: 400;
    	font-size: .7em;
    	text-transform: lowercase;
    	letter-spacing: .2em;
      font-style: italic;
}

.moodboard {
  display: block;
  margin: auto;
  text-decoration: none;
  position: relative;
}

.moodboard table {
  margin: auto;
}

.moodboard table td {
  padding: 25px;
}

.moodboard img1 {
  display: block;
  width: 130px;
  height: 130px;
  outline: 1px solid var(--accent);
  outline-offset: 10px;
  background-size: cover;
  background-position: center;
}

.moodboard img2 {
  display: block;
  width: 130px;
  height: 130px;
  outline: 1px solid var(--accent);
  outline-offset: 10px;
  background-size: cover;
background-position: center;
}

.moodboard img3 {
  display: block;
  width: 130px;
  height: 130px;
  outline: 1px solid var(--accent);
  outline-offset: 10px;
  background-size: cover;
background-position: center;
}

.moodboard img4 {
  display: block;
  width: 130px;
  height: 130px;
  outline: 1px solid var(--accent);
  outline-offset: 10px;
  background-size: cover;
background-position: center;
}

.moodboard img5 {
  display: block;
  width: 130px;
  height: 130px;
  outline: 1px solid var(--accent);
  outline-offset: 10px;
  background-size: cover;
background-position: center;
}

.moodboard img6 {
  display: block;
  width: 130px;
  height: 130px;
  outline: 1px solid var(--accent);
  outline-offset: 10px;
  background-size: cover;
background-position: center;
}

.moodboard img7 {
  display: block;
  width: 130px;
  height: 130px;
  outline: 1px solid var(--accent);
  outline-offset: 10px;
  background-size: cover;
background-position: center;
}

.moodboard img8 {
  display: block;
  width: 130px;
  height: 130px;
  outline: 1px solid var(--accent);
  outline-offset: 10px;
  background-size: cover;
background-position: center;
}

.moodboard img9 {
  display: block;
  width: 130px;
  height: 130px;
  outline: 1px solid var(--accent);
  outline-offset: 10px;
  background-size: cover;
background-position: center;
}
